<launch>

  <!-- 加载地图描述 -->
  <node pkg="map_server" type="map_server" name="map_server" args="$(find robot_navigation)/maps/205.yaml"/>

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" clear_params="true">
    <rosparam file="$(find robot_navigation)/config/map_param/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find robot_navigation)/config/map_param/costmap_local_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find robot_navigation)/config/map_param/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find robot_navigation)/config/map_param/global_costmap_params.yaml" command="load" />
  </node>
    
</launch>
