<launch>
  <rosparam file="$(find tri_steer_gazebo)/config/pid.yaml" command="load"/>

  <!-- 新增：加载控制器配置（关键） -->
  <rosparam file="$(find tri_steer_gazebo)/config/controllers.yaml" command="load"/>

  <param name="use_sim_time" value="true"/>

  <!-- 机器人模型 -->
  <param name="robot_description"
      command="$(find xacro)/xacro --inorder '$(find tri_steer_description)/urdf/tri_steer.xacro'"/>

  <!-- 发布 TF（关节角来自 Gazebo） -->
  <node pkg="robot_state_publisher"
        type="robot_state_publisher"
        name="robot_state_publisher"/>

  <node pkg="gazebo_ros" type="spawn_model" name="spawn_model" output="screen"
      args="-urdf -param robot_description -model tri_steer
              -J joint11 0.0 -J joint21 0.0 -J joint31 0.0
              -x 0.2 -y 0 -z -0.0"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="paused" value="false"/>
      <arg name="use_sim_time" value="true"/>
      <arg name="gui" value="true"/>
        <!-- 指定你自己的 world -->
      <arg name="world_name" value="$(find tri_steer_gazebo)/worlds/kexueguan205.world"/>
  </include>

  <!-- 新增：延迟启动控制器（先 joint_state，再转向+驱动） -->
  <node pkg="controller_manager" type="spawner" name="spawner_js" output="screen"
      args="joint_state_controller"
      launch-prefix="bash -lc 'sleep 2; exec $0 $@'"/>

  <node pkg="controller_manager" type="spawner" name="spawner_ctrl" output="screen"
      args="joint11_position_controller joint21_position_controller joint31_position_controller
            joint12_velocity_controller joint22_velocity_controller joint32_velocity_controller
            joint13_position_controller joint23_position_controller joint33_position_controller"

      launch-prefix="bash -lc 'sleep 2; exec $0 $@'"/>
  
  <!-- 加载地图描述 -->
  <node pkg="map_server" type="map_server" name="map_server" args="$(find tri_steer_gazebo)/map/carto_mape.yaml"/>
 
  <node pkg="tf2_ros" type="static_transform_publisher" name="link_broadcaster" args="0 0 0 0 0 0 map odom" />

  <!-- RViz -->
  <node pkg="rviz"
        type="rviz"
        name="rviz"
        args="-d $(find tri_steer_description)/rviz/tri_steer.rviz"/>

</launch>
